{% extends "base.html" %}

{% block content %}
  <h1>Bem vindo ao RentFlix</h1>
  <p>Um website desenvolvido para aluguel de filmes.</p>
  <h2>Catálogo</h2>
  <ul>
    <li><strong>Filmes:</strong> {{ num_filmes }}</li>
    <li><strong>Filmes Disponíveis:</strong> {{ num_instancias_disponiveis }}</li>
    <li><strong>Diretores:</strong> {{ num_diretores }}</li>
  </ul>
  <h2>Em destaque:</h2>

  {% for filme_instancia in filmes_disponiveis %}
    <div> 
      <a href="{{ filme_instancia.filme.get_absolute_url }}">
       <img src="/media/{{ filme_instancia.filme.poster }}" alt="poster" width=200 height=auto />
      </a>
    </div>
  {% endfor %}

{% endblock %}
