{% extends "base.html" %}

{% block content %}
  <h1>Bem vindo ao RentFlix</h1>
  <p>Um website desenvolvido para aluguel de filmes.</p>
  <h2>Catálogo</h2>
  <ul>
    <li><strong>Filmes:</strong> {{ num_filmes }}</li>
    <li><strong>Filmes Disponíveis:</strong> {{ num_instancias_disponiveis }}</li>
    <li><strong>Diretores:</strong> {{ num_diretores }}</li>
  </ul>
 <form method="GET" action="{% url 'pesquisar'  %}">
    <div class="form-group">
          <input type="text" class="form-control" id="palavra" name="palavra" value="{{request.GET.palavra}}" placeholder="pesquisar" required autofocus><br/>
          <input type="radio" name="Filme" value="on"/> Filme 
          <input type="radio" name="Diretor" value="on"/> Diretor 
          <input type="radio" name="Genero" value="on"/> Gênero<br/>  
          <input class="btn btn-primary btn-lg" type="submit">
    </div>
  </form>
  
  <h2>Em destaque:</h2>

    <div class="container">
        <div class="row">
              {% for filme_instancia in filmes_disponiveis %}
                  <div class="col-md-3" >
                          <a href="{{ filme_instancia.filme.get_absolute_url }}">
                           <img src="/media/{{ filme_instancia.filme.poster }}" alt="poster" width=200 height=auto />
                          </a>
                  </div>
              {% endfor %}
        </div>
    </div>

{% endblock %}
