{% extends "base.html" %}

{% block content %}
  <h1>AluguelFilmes Home</h1>
  <p>Bem-Vindo ao AluguelFilmes online, um website desenvolvido para facilitar sua vida</p>
  <h2>Catálogo</h2>
  <ul>
    <li><strong>Filmes:</strong> {{ num_filmes }}</li>
    <li><strong>Filmes disponíveis:</strong> {{ num_instancias_disponiveis }}</li>
    <li><strong>Diretores:</strong> {{ num_diretores }}</li>
  </ul>
  <h1>Lista de Filmes Disponíveis</h1>

    <ul>

      {% for filme in filmesDisponiveis %}

		      <li>
		        <a href="{{ filme.get_absolute_url }}">{{ filme.filme }}</a>
		        <a href="#" class="btn btn-lg btn-primary btn-block" style="width: 100px; height: 50px">Alugar</a>
		      </li>
		   
      {% endfor %}

    </ul>
{% endblock %}