{% extends "base.html" %}

{% block content %}
  
    <font color="red">Informações Da Compra</font>
    <h6>Confira abaixo as informações do filme que irá alugar:</h6><br>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Valor Unitário</th>
            </tr>
            </thead>
            <tbody>
                  {% if filme_escolhido %}
                    <tr>
                        <td>{{ filme_escolhido.titulo }}</td>
                        <td>5,00</td>
                        
                    </tr>
                  {% endif %}

            </tbody>
            <tbody>
                
                    <tr>
                        <th scope="col">Valor Total</th>
                        <th>5,00</th>
                        
                    </tr>
                

            </tbody>
            
        </table>
    </div>
    <font color="red">Digite os seus dados do cartão de crédito para confirmação de aluguel:</font>
    <form class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <img src="https://icon-icons.com/icons2/1186/PNG/512/1490135017-visa_82256.png"  width="50" height="50">
        
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTwefv8HLieiB5YqOf3CyO34lda1wMNkgJHM2S7tH4AtQjv114"  width="50" height="40">
        
        <img src="https://png.pngtree.com/element_our/png_detail/20180731/american-express-logo-icon-png_44627.png"  width="50" height="50">
        
        <img src="https://www.creditooudebito.com.br/i/1297/paypal-430.jpg"  width="50" height="40">
                        
        <img src="https://seeklogo.com/images/E/elo-logo-CD2DA41300-seeklogo.com.png"  width="30" height="30"></br>

        <input type="number" id="id_cartao_numero" name="cartao_numero" class="form-control" placeholder="Número do Cartão" required autofocus>

        <input type="date" id="id_data_vencimento" name="data_vencimento" class="form-control" placeholder="Data de Vencimento" required>

        <input type="number" id="id_csc" name="csc" class="form-control" placeholder="CSC" required>

        <font color="green">Selecione o tipo de cartão</font></br>
        <select name="tipo_cartao" form="form-control" placeholder="Tipo de Cartão" required>
            <option value="visa">Visa</option>
            <option value="mastercard">Mastercard</option>
            <option value="american">American</option>
            <option value="paypal">PayPal</option>
            <option value="elo">ELO</option>
        </select></br>

        <font color="green">Deseja entrega na residência?</font></br>
        <select name="tipo_entrega" form="form-control" placeholder="Tipo de Entrega" required>
            <option value="deliverer">Sim</option>
            <option value="na_locadora">Não</option>
        </select></br></br>
        
        <a class="btn btn-lg btn-primary" href="{% url 'pagar' filme_id=filme_escolhido.id %}" style="width: 100px; height: 50px">Pagar</a>
        
       
    </form>
{% endblock %}
