{% extends "base.html" %}

{% block content %}

<h1>Nome: {{ diretor_nome }}</h1>

<h4>Filmes Dirigidos: </h4>

	<div class="container">
        <div class="row">
            {% for filme_instancia in filmes_dirigidos %}
                  <div class="col-md-3" >
                          <a href="{{ filme_instancia.get_absolute_url }}">
                           <img src="/media/{{ filme_instancia.poster }}" alt="poster" width=200 height=auto/>
                          </a>
                  </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}