{% extends "base.html" %}

{% block content %}

<h1>Titulo: {{ filme.titulo }}</h1>

<p><strong>Diretor:</strong> <a href="{% url 'diretor-info' filme.diretor.pk %}">{{ filme.diretor }}</a></p>
<p><strong>Sinopse:</strong> {{ filme.sinopse }}</p>
<p><strong>Poster:</strong> {{ filme.poster }}</p> 
<p><strong>Genero:</strong> {% for genero in filme.genero.all %}{{genero}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
<!--<div style="margin-left:20px;margin-top:20px">
<h4>Filmes</h4>

{% for filme in filme.filmeinstancia_set.all %}
<hr>
<p class="{% if filme.status == 'd' %}text-success{% elif filme.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ filme.get_status_display }}</p>
{% if filme.status != 'd' %}<p><strong>Deve ser devolvido:</strong> {{filme.due_back}}</p>{% endif %}
<p><strong>Imprint:</strong> {{filme.imprint}}</p>
<p class="text-muted"><strong>Id:</strong> {{filme.id}}</p>

{% endfor %}-->
</div>
{% endblock %}