{% extends "base.html" %}

{% block content %}

<h1>Titulo: {{ filme.titulo }}</h1>

<p><strong>Diretor:</strong> <a href="{% url 'diretor-info' filme.diretor.pk %}">{{ filme.diretor }}</a></p>
<p><strong>Sinopse:</strong> {{ filme.sinopse }}</p>
<img src="/media/{{ filme.poster }}" alt="poster" width=200 height=auto/>
<p><strong>Gênero:</strong> {% for genero in filme.genero.all %}{{genero}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
<div style="margin-left:20px;margin-top:20px">
	<style>
	@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
	div.stars{
	  width: 270px;
	  display: inline-block;
	}
	 
	input.star{
	  display: none;
	}
	 
	label.star {
	  float: right;
	  padding: 10px;
	  font-size: 36px;
	  color: #444;
	  transition: all .2s;
	}
	 
	input.star:checked ~ label.star:before {
	  content:'\f005';
	  color: #FD4;
	  transition: all .25s;
	}
	 
	 
	input.star-5:checked ~ label.star:before {
	  color:#FE7;
	  text-shadow: 0 0 20px #952;
	}
	 
	input.star-1:checked ~ label.star:before {
	  color: #F62;
	}
	 
	label.star:hover{
	  transform: rotate(-15deg) scale(1.3);
	}
	 
	label.star:before{
	  content:'\f006';
	  font-family: FontAwesome;
	}
	 
	.rev-box{
	  overflow: hidden;
	  height: 0;
	  width: 100%;
	  transition: all .25s;
	}
	 
	textarea.review{
	  background: #222;
	  border: none;
	  width: 100%;
	  max-width: 100%;
	  height: 100px;
	  padding: 10px;
	  box-sizing: border-box;
	  color: #EEE;
	}
	 
	label.review{
	  display: block;
	  transition:opacity .25s;
	}
	 
	input.star:checked ~ .rev-box{
	  height: 125px;
	  overflow: visible;
	}
	</style>

	<h1>Classificação</h1>
	<div class="stars">
	<form method="GET" action="{% url 'avaliar' filme_id=filme.id%}">
		{% if filme.classificacao == '0'%}
		  <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
		  <label class="star star-5" for="star-5"></label>
		  <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
		  <label class="star star-4" for="star-4"></label>
		  <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
		  <label class="star star-3" for="star-3"></label>
		  <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
		  <label class="star star-2" for="star-2"></label>
		  <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
		  <label class="star star-1" for="star-1"></label>
		{% else %}
			{% if filme.classificacao == '1'%}
			  <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
			  <label class="star star-5" for="star-5"></label>
			  <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
			  <label class="star star-4" for="star-4"></label>
			  <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
			  <label class="star star-3" for="star-3"></label>
			  <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
			  <label class="star star-2" for="star-2"></label>
			  <input class="star star-1" id="star-1" type="radio" name="star" value="1" checked />
			  <label class="star star-1" for="star-1"></label>
			{% else %}
				{% if filme.classificacao == '2'%}
				  <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
				  <label class="star star-5" for="star-5"></label>
				  <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
				  <label class="star star-4" for="star-4"></label>
				  <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
				  <label class="star star-3" for="star-3"></label>
				  <input class="star star-2" id="star-2" type="radio" name="star" value="2" checked />
				  <label class="star star-2" for="star-2"></label>
				  <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
				  <label class="star star-1" for="star-1"></label>
						{% else %}
					{% if filme.classificacao == '3'%}
					  <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
					  <label class="star star-5" for="star-5"></label>
					  <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
					  <label class="star star-4" for="star-4"></label>
					  <input class="star star-3" id="star-3" type="radio" name="star" value="3" checked />
					  <label class="star star-3" for="star-3"></label>
					  <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
					  <label class="star star-2" for="star-2"></label>
					  <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
					  <label class="star star-1" for="star-1"></label>
					{% else %}
						{% if filme.classificacao == '4'%}
						  <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
						  <label class="star star-5" for="star-5"></label>
						  <input class="star star-4" id="star-4" type="radio" name="star" value="4" checked />
						  <label class="star star-4" for="star-4"></label>
						  <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
						  <label class="star star-3" for="star-3"></label>
						  <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
						  <label class="star star-2" for="star-2"></label>
						  <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
						  <label class="star star-1" for="star-1"></label>
						{% else %}
							<input class="star star-5" id="star-5" type="radio" name="star" value="5" checked />
							  <label class="star star-5" for="star-5"></label>
							  <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
							  <label class="star star-4" for="star-4"></label>
							  <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
							  <label class="star star-3" for="star-3"></label>
							  <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
							  <label class="star star-2" for="star-2"></label>
							  <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
							  <label class="star star-1" for="star-1"></label>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	  <button class="btn btn-primary btn-lg">Avaliar</button>
	</form>
	</div>
	<hr>
	{% for filme in filme.filmeinstancia_set.all %}
	<h4>Filme</h4>
	<p class="{% if filme.status == 'd' %}text-success{% elif filme.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ filme.get_status_display }}</p>
	{% if filme.status != 'd' %}
      <p><strong>Deve ser devolvido:</strong> {{filme.data_devolucao}}</p>
    {% else %}
       <a href="{% url 'alugar' filme_id=filme.filme.id %}" class="btn btn-lg btn-primary btn-block" style="width: 100px; height: 50px">Alugar</a>
    {% endif %}

	{% endfor %}
</div>
{% endblock %}
